<h1>Rails Lite Demo</h1>

<%= flash[:notice] %><br>

<% if logged_in? %>
  Current user:<%= current_user.username %><br>
  <form action="/sessions/destroy" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>Sign out</button>
  </form>
<% else %>
  <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Sign In</a><br>
<% end %>

<h2>Comments</h2>

<a href="/comments/new">Create new comment</a>

<ul>
<% @comments.each do |comment | %>
  <li><a href="/comments/<%= comment.id %>"><%= comment.body %></a>, by <%= comment.author.username %></li>
<% end %>
</ul>
