<h1>Rails Lite Demo</h1>

<%= flash[:notice] %><br>

<% if logged_in? %>
  Current user:<%= current_user.username %><br>
  <form action="/sessions/destroy" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>Sign out</button>
  </form>
<% else %>
  <a href="/users/new">Sign up</a>
  <a href="/sessions/new">Sign In</a><br>
<% end %>

<h2>Hello!</h2>
This is a simple app created in my <a href="https://www.github.com/edmundwright/rails-lite">Rails Lite</a> framework. Don't expect too much of it! It's just an example. It uses several of Rails Lite's features, including:

<ul>
  <li>Associations</li>
  <li>The Flash</li>
  <li>Validations</li>
  <li>CSRF protection</li>
</ul>

See the <a href="https://www.github.com/edmundwright/rails-lite">project's Github</a> for more details.

<h2>Comments</h2>

<a href="/comments/new">Create new comment</a>

<ul>
<% @comments.each do |comment | %>
  <li><a href="/comments/<%= comment.id %>"><%= comment.body %></a> by <%= comment.author.username %></li>
<% end %>
</ul>
